body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  background: linear-gradient(#258c5d, #fed813);
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToDo {
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  width: 80vw;
  height: auto;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.5);
  background: #f6f6f6;
  padding-bottom: 60px;
  margin: 40px auto;
}

.ToDo-Container {
    width: 80%;
    margin: 0 auto;
}

.Logo {
  width: 70px;
  /* position: relative;
  top: 50px; */
  margin-top: 50px;
}

.Headline {
  text-transform: uppercase;
  font-weight: 400;
}

.ToDo-Add {
  color: white;
  font-size: 2em;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #258c5d;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #258c5d;
  margin: 20px auto 0;
}

.ToDo-Add:hover {
  box-shadow: none;
  margin-left: calc(auto + 1px);
}

input {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  margin: 10px auto;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
